<a href="https://colab.research.google.com/github/ramzakabeer/Assignment1/blob/main/rasha_exitexam_(3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing the Libraries

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Loading the Dataset

In [ ]:
data_train=pd.read_csv('train_ctrUa4K.csv')
data_test=pd.read_csv('test_lAUu6dG.csv')
sample=pd.read_csv('sample_submission_49d68Cx.csv')

FileNotFoundError: ignored

# Exploratory Data Analysis

In [ ]:
data_train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [ ]:
data_test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [ ]:
data_train.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [ ]:
data_test.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [ ]:
data_train.shape

(614, 13)

In [ ]:
data_test.shape

(367, 12)

In [ ]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [ ]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             356 non-null    object
 2   Married            367 non-null    object
 3   Dependents         357 non-null    object
 4   Education          367 non-null    object
 5   Self_Employed      344 non-null    object
 6   ApplicantIncome    367 non-null    int64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         362 non-null    float64
 9   Loan_Amount_Term   361 non-null    float64
 10  Credit_History     338 non-null    float64
 11  Property_Area      367 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

In [ ]:
data_train.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [ ]:
data_test.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,367.000000,367.000000,362.000000,361.000000,338.000000
mean,4805.599455,1569.577657,136.132597,342.537396,0.825444
std,4910.685399,2334.232099,61.366652,65.156643,0.380150
min,0.000000,0.000000,28.000000,6.000000,0.000000
25%,2864.000000,0.000000,100.250000,360.000000,1.000000
50%,3786.000000,1025.000000,125.000000,360.000000,1.000000
75%,5060.000000,2430.500000,158.000000,360.000000,1.000000
max,72529.000000,24000.000000,550.000000,480.000000,1.000000

In [ ]:
data_train.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [ ]:
data_test.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

# Checking for Missing Values for Train data

In [1]:
data_train.isna().sum()

NameError: ignored

In [ ]:
data_train.dtypes

In [ ]:
freqgraph=data_train.select_dtypes(include=['float'])
freqgraph.hist(figsize=(20,15))
plt.show()

In [ ]:
for i in ['LoanAmount','Loan_Amount_Term', 'Credit_History']:
   data_train[i]=data_train[i].fillna(data_train[i].median())

In [ ]:
data_train.isna().sum()

In [ ]:
for i in ['Gender', 'Married', 'Dependents','Self_Employed']:
   data_train[i]=data_train[i].fillna(data_train[i].mode()[0])

In [ ]:
data_train.isna().sum()

# Checking for Missing Values for Test data

In [2]:
data_test.isna().sum()

NameError: ignored

In [3]:
freqgraph=data_test.select_dtypes(include=['float'])
freqgraph.hist(figsize=(20,15))
plt.show()

NameError: ignored

In [ ]:
for i in ['LoanAmount','Loan_Amount_Term', 'Credit_History']:
   data_test[i]=data_test[i].fillna(data_test[i].median())

In [ ]:
data_test.isna().sum()

In [ ]:
for i in ['Gender', 'Dependents','Self_Employed']:
   data_test[i]=data_test[i].fillna(data_test[i].mode()[0])

In [ ]:
data_test.isna().sum()

# Visualization

In [4]:
sns.countplot(data_train['Gender'])

NameError: ignored

In [5]:
sns.countplot(data_train['Married'])

NameError: ignored

In [ ]:
sns.countplot(data_train['Dependents'])

In [ ]:
sns.countplot(data_train['Education'])

In [ ]:
sns.countplot(data_train['Self_Employed'])

In [ ]:
sns.countplot(data_train['Loan_Status'])

# Correlation Analysis

In [6]:
corrmatrix=data_train.corr()
plt.subplots(figsize=(30,10))
sns.heatmap(corrmatrix,annot=True,linewidths=0.2,cmap='YlGnBu')

NameError: ignored

In [7]:
corrmatrix=data_test.corr()
plt.subplots(figsize=(30,10))
sns.heatmap(corrmatrix,annot=True,linewidths=0.2,cmap='YlGnBu')

NameError: ignored

# Feature Engineering

In [ ]:
data_train['Total_income'] = data_train['ApplicantIncome'] + data_train['CoapplicantIncome']

NameError: ignored

In [ ]:
data_test['Total_income'] = data_test['ApplicantIncome'] + data_test['CoapplicantIncome']

NameError: ignored

In [ ]:
data_train.columns

In [ ]:
data_test.columns

# Droping Irrelevent Columns

In [8]:
columns = ['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_ID']
data_train = data_train.drop(columns=columns, axis=1)
data_test = data_test.drop(columns=columns, axis=1)

NameError: ignored

In [9]:
data_train.columns

NameError: ignored

In [ ]:
data_test.columns

# Label Encoding

In [10]:
from sklearn.preprocessing import LabelEncoder
columns = ['Gender',"Married","Education",'Self_Employed',"Property_Area","Loan_Status","Dependents"]
le = LabelEncoder()
for column in columns:
    data_train[column] = le.fit_transform(data_train[column])

NameError: ignored

In [11]:
columns = ['Gender',"Married","Education",'Self_Employed',"Property_Area","Dependents"]
le = LabelEncoder()
for column in columns:
    data_test[column] = le.fit_transform(data_test[column])

NameError: ignored

# Build The Model

1.Random Forest Algorithm

In [12]:
x = data_train.drop(columns=['Loan_Status'], axis=1)
y = data_train['Loan_Status']

NameError: ignored

In [13]:
from sklearn.ensemble import RandomForestClassifier
Random_forest = RandomForestClassifier(n_estimators=100)
Random_forest.fit(x,y)
RandomForest_predict = Random_forest.predict(data_test)

NameError: ignored

In [ ]:
#Make new dataframe for our identification and loan_status predictions
submission = pd.DataFrame()

In [ ]:
submission['Loan_Status'] = RandomForest_predict
submission['Loan_ID'] = sample['Loan_ID']

In [ ]:
#Makes more sense to put in terms of 'Y' and 'N' instead of 1 and 0 when talking about a loan being approved
submission['Loan_Status'].replace(0, 'N', inplace=True)
submission['Loan_Status'].replace(1, 'Y', inplace=True)

submission.Loan_Status.value_counts()

In [ ]:
submission.to_csv("results.csv", index=False)

2.Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
logit_model=LogisticRegression()
logit_model.fit(x,y)
LogisticRegression_predict=logit_model.predict(data_test)

In [ ]:
submission = pd.DataFrame()
submission['Loan_Status'] = LogisticRegression_predict
submission['Loan_ID'] = sample['Loan_ID']

In [ ]:
submission['Loan_Status'].replace(0, 'N', inplace=True)
submission['Loan_Status'].replace(1, 'Y', inplace=True)

submission.Loan_Status.value_counts()

In [ ]:
submission.to_csv("result2.csv", index=False)

3.Decision Tree Algorithm

In [ ]:
from sklearn.tree import  DecisionTreeClassifier
dt_model = DecisionTreeClassifier()
dt_model.fit(x,y)
DecisionTree_predict=dt_model.predict(data_test)

In [ ]:
submission = pd.DataFrame()
submission['Loan_Status'] = DecisionTree_predict
submission['Loan_ID'] = sample['Loan_ID']

In [ ]:
submission['Loan_Status'].replace(0, 'N', inplace=True)
submission['Loan_Status'].replace(1, 'Y', inplace=True)

submission.Loan_Status.value_counts()

In [ ]:
submission.to_csv("result3.csv", index=False)

4. Gradient Boosting

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
gb=GradientBoostingClassifier()
gb.fit(x,y)
gb_predict=gb.predict(data_test)

In [ ]:
submission = pd.DataFrame()
submission['Loan_Status'] = gb_predict
submission['Loan_ID'] = sample['Loan_ID']

In [ ]:
submission['Loan_Status'].replace(0, 'N', inplace=True)
submission['Loan_Status'].replace(1, 'Y', inplace=True)

submission.Loan_Status.value_counts()

In [ ]:
submission.to_csv("result4.csv", index=False)

5.SVM

In [ ]:
from sklearn.svm import SVC
svm_linear = SVC(kernel='linear')
svm_linear.fit(x,y)
svmlinear_pred=svm_linear.predict(data_test)

In [ ]:
submission = pd.DataFrame()
submission['Loan_Status'] = svmlinear_pred
submission['Loan_ID'] = sample['Loan_ID']

In [ ]:
submission['Loan_Status'].replace(0, 'N', inplace=True)
submission['Loan_Status'].replace(1, 'Y', inplace=True)

submission.Loan_Status.value_counts()

In [ ]:
submission.to_csv("result5.csv", index=False)

6.Polynomial SVM

In [ ]:
svm_poly = SVC(kernel='poly',degree=3)
svm_poly.fit(x,y)
svmpoly_pred=svm_poly.predict(data_test)

In [ ]:
submission = pd.DataFrame()
submission['Loan_Status'] = svmpoly_pred
submission['Loan_ID'] = sample['Loan_ID']

In [ ]:
submission['Loan_Status'].replace(0, 'N', inplace=True)
submission['Loan_Status'].replace(1, 'Y', inplace=True)

submission.Loan_Status.value_counts()

In [ ]:
submission.to_csv("result6.csv", index=False)

7.Radial SVM

In [ ]:
svm_rad = SVC(kernel='rbf')
svm_rad.fit(x,y)
svmrad_pred=svm_rad.predict(data_test)

In [ ]:
submission = pd.DataFrame()
submission['Loan_Status'] = svmrad_pred
submission['Loan_ID'] = sample['Loan_ID']

In [ ]:
submission['Loan_Status'].replace(0, 'N', inplace=True)
submission['Loan_Status'].replace(1, 'Y', inplace=True)

submission.Loan_Status.value_counts()

In [ ]:
submission.to_csv("result7.csv", index=False)

8. Extreme Gradient Boosting

In [ ]:
!pip3 install xgboost
import xgboost as xgb
from xgboost import XGBClassifier
xg=XGBClassifier()
xg.fit(x,y)
xg_predict=xg.predict(data_test)

In [ ]:
submission = pd.DataFrame()
submission['Loan_Status'] = xg_predict
submission['Loan_ID'] = sample['Loan_ID']

In [ ]:
submission['Loan_Status'].replace(0, 'N', inplace=True)
submission['Loan_Status'].replace(1, 'Y', inplace=True)

submission.Loan_Status.value_counts()

In [ ]:
submission.to_csv("result8.csv", index=False)

9.KNN

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score,recall_score,f1_score
from sklearn.neighbors import KNeighborsClassifier

neighbors=np.arange(1,25)
for k in neighbors:
  Classifier=  KNeighborsClassifier(n_neighbors=10,metric='minkowski')
  Classifier.fit(x,y)
  kNN_pred=  Classifier.predict(data_test)

In [ ]:
submission = pd.DataFrame()
submission['Loan_Status'] = kNN_pred
submission['Loan_ID'] = sample['Loan_ID']

In [ ]:
submission['Loan_Status'].replace(0, 'N', inplace=True)
submission['Loan_Status'].replace(1, 'Y', inplace=True)

submission.Loan_Status.value_counts()

In [ ]:
submission.to_csv("result9.csv", index=False)

10.Gaussian Naive Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB
classifier=GaussianNB()
classifier.fit(x,y)
Gaussian_pred=classifier.predict(data_test)

In [ ]:
submission = pd.DataFrame()
submission['Loan_Status'] = Gaussian_pred
submission['Loan_ID'] = sample['Loan_ID']

In [ ]:
submission['Loan_Status'].replace(0, 'N', inplace=True)
submission['Loan_Status'].replace(1, 'Y', inplace=True)

submission.Loan_Status.value_counts()

In [ ]:
submission.to_csv("result10.csv", index=False)

11.Bernoulli Naive Bayes

In [ ]:
from sklearn.naive_bayes import BernoulliNB
classifier=BernoulliNB()
classifier.fit(x,y)
Bernoulli_pred=classifier.predict(data_test)

In [ ]:
submission = pd.DataFrame()
submission['Loan_Status'] =Bernoulli_pred
submission['Loan_ID'] = sample['Loan_ID']

In [ ]:
submission['Loan_Status'].replace(0, 'N', inplace=True)
submission['Loan_Status'].replace(1, 'Y', inplace=True)

submission.Loan_Status.value_counts()

In [ ]:
submission.to_csv("result11.csv", index=False)